/* base */

@import './base/reset.css';
@import './base/variables.css';
@import './base/base.css';
@import './base/layout.css';

/* 3rd-party */

@import './3rd-party/font-awesome.min.css';

/* components */

@import './components/blog.css';
@import './components/button.css';
@import './components/contact-us.css';
@import './components/footer.css';
@import './components/header.css';
@import './components/clients.css';
@import './components/numbers-section.css';
@import './components/progress-bar.css';
@import './components/about-me.css';
@import './components/gallery.css';

/* CUSTOM PAGE STYLE BELOW THIS COMMENT LINE */


/* RASOME SAVO KODA TIK TARP SIU KOMENTARU KAD SUPRASTUME LOGIKA */


/* HEADER START */


/* HEADER END */


/* HERO START */

.hero {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-main.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
}

.hero>.row>.intro {
    background: none;
}

.hero>.row>.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.hero>.row>h1 {
    font-size: 60px;
    font-weight: 1000;
    margin-bottom: 20px;
    color: white;
    background: none;
}

.hero>.row>.intro>p {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    color: white;
    background: none;
    margin-bottom: 20px;
}

.hero>.row>.intro>span {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    color: white;
    background: none;
    margin-bottom: 20px;
}

.hero>.row>.socials {
    background: none;
    margin-top: 40px;
}

.hero>.row>.socials>.fa {
    color: white;
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

@media (max-width: 760px) {
    .hero>.row>.intro {
        flex-direction: column;
    }
}


/* HERO END */


/* ABOUT ME START */
.about-me-row h1 {
    font-size: 40px;
    font-style: bold;
}
.about-me-row > p{
    font-style: normal;
    color:#748182;
    font-size: 20px;
    line-height: 25px;
}
.about-me-row > p:first-of-type{
    font-size: 18px;
    color: #A699A3;
    letter-spacing: 2px;
    margin-bottom: 20px;;
}

.about-me-row > p > span{
    font-style: bold;
    color: black;
}

.progress-bar > .progress > .bar > .loading > .value{
    float: right;
}
/* ABOUT ME END */


/* SERVICES START */


/* SERVICES END */


/* PORTFOLIO START */
.row>.section-head {
    margin-bottom: 80px;
    text-align: center;
}

.section-head h2 {
    background-image: url(http://www.innovationplans.com/idesign/daniels/img/dots.png);
}



/* PORTFOLIO END */


/* TESTIMONIALS START */


/* TESTIMONIALS END */


/* HAPPY CUSTOMERS/COMPLETE PROJECTS...ACHIEVEMENTS START */


/* HAPPY CUSTOMERS/COMPLETE PROJECTS...ACHIEVEMENTS END */


/* BLOG START */

.row>.section-head {
    margin-bottom: 80px;
    text-align: center;
}

.section-head h2 {
    background-image: url(http://www.innovationplans.com/idesign/daniels/img/dots.png);
}


/* BLOG END  */


/* CONTACT US START */

.form .button {
    margin-top: 10px;
}

.form .button:hover {
    background-color: #fff;
    color: grey;
}

@media (max-width: 500px) {
    .container>.row>.info {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .form input,
    .form input:last-of-type {
        width: 100%;
    }
}


/* CONTACT US END */


/* FOOTER START */


/* FOOTER END */
