/* base */

@import './base/reset.css';
@import './base/variables.css';
@import './base/base.css';
@import './base/layout.css';

/* 3rd-party */

@import './3rd-party/font-awesome.min.css';

/* components */

@import './components/button.css';
@import './components/contact-us.css';
@import './components/footer.css';
@import './components/header.css';

/* CUSTOM PAGE STYLE BELOW THIS COMMENT LINE */


/* RASOME SAVO KODA TIK TARP SIU KOMENTARU KAD SUPRASTUME LOGIKA */


/* HEADER START */
/*header.container {
    padding-top: 0;
    padding-bottom: 0;   
}
header.container > .row {
    margin-top: 15px;
    margin-bottom: 10px;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--contact-color);
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav {
    
}

.logo {
    
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black
}*/

/* HEADER END */


/* HERO START */


/* HERO END */


/* ABOUT ME START */


/* ABOUT ME END */


/* SERVICES START */


/* SERVICES END */


/* PORTFOLIO START */


/* PORTFOLIO END */


/* TESTIMONIALS START */


/* TESTIMONIALS END */


/* HAPPY CUSTOMERS/COMPLETE PROJECTS...ACHIEVEMENTS START */


/* HAPPY CUSTOMERS/COMPLETE PROJECTS...ACHIEVEMENTS END */


/* BLOG START */


/* BLOG END  */


/* CONTACT US START */

.form .button {
    margin-top: 10px;
}

.form .button:hover {
    background-color: #fff;
    color: grey;
}

@media (max-width: 500px) {
    .container>.row>.info {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 500px) {
    .form input,
    .form input:last-of-type {
        width: 100%;
    }
}


/* CONTACT US END */


/* FOOTER START */


/* FOOTER END */