.progress.bar{
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
}

.progress.bar > .progress{
  width: 100%;
  height: 25px;
  background-color: gainsboro;
  border-radius: 5px;
}
.progress.bar > .progress > .bar > .loading {  
  width: 0%;
  height: 100%;
  background-color: rgb(8, 8, 8);
  border-radius: 5px;

  animation-name: loading;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-direction: normal;
}
.progress.bar > .progress > .bar > .loading > .title{
  display: inline-block;
  margin-left: 10px;
  font-size: 16px;
  line-height: 18px;
  margin-top: 3px;
  color: rgb(250, 250, 250);
}
.progress.bar > .progress > .bar > .loading > .value{
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  margin-right: 10px;
  margin-top: 3px;
  color: rgb(250, 250, 250);
}
.progress.bar > .text > .value{
  float: right;
  color: white;
}
  .progress.bar > .progress > .bar{    
      width: 86%;
      height: 100%;
      background-color: transparent;
  }
@keyframes loading {
  0% {
      width: 30%;
  }
  100%{
      width: 90%
  }
}